/* Header Layout */
header {
    background-color: #B64044;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    position: fixed; 
    top: 0; 
    width: 100%; 
    z-index: 1000; 
}

.logo {
    font-size: 20px;
    font-weight: bold;
    font-family: 'Romerio';
}

.ziya {
    padding: 10px;
    font-family: 'Great Vibes', cursive;
    font-size: 42px;
}

nav {
    position: relative;
}

.menu-toggle {
    display: none;
    background-color: #B64044;
    color: white;
    border: none;
    font-size: 24px;
    padding: 10px;
    cursor: pointer;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

@media (max-width: 768px) {
    .menu-toggle {
        display: block; 
    }

    nav ul {
        display: none; 
        flex-direction: column; 
        width: 100%; 
        background-color: #B64044; 
        position: absolute; 
        top: 50px; 
        right: 0; 
        border: 1px solid #A65976;
    }

    nav ul.active {
        display: flex; 
    }

    nav ul li {
        width: 100%; 
    }

    nav ul li a {
        display: block; 
        padding: 15px; 
        border-bottom: 1px solid #A65976; 
        color: white; 
    }

    .header {
        flex-wrap: wrap;
    }

    .logo-container {
        width: 100%;
        justify-content: center;
    }

    nav {
        width: 100%;
        text-align: center;
    }
}
